.listItem {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 64px;
    color: white;
    text-decoration: none;
}

.listItemLabel {
    text-transform: capitalize;
}

.listItemImg {
    width: 64px;
    height: 64px;
}