.standardTooltip {
    opacity: 1;
    background-color: #0F1013;
    border: 1px solid #20242b;
    border-radius: 12px;

    // Selecting tooltip arrow
    > div:last-child {
        border-right: 1px solid #20242b;
        border-bottom: 1px solid #20242b;
    }
}