#root {
  display: flex;
  flex: 1;
}

.surface {
  background-color: #14161C;
}

main {
  flex: 1;
  overflow-y: scroll;
}

.rightSidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}

.bordered {
  border: 1px solid 20242b;
  border-radius: 24px;
}

.listItem {
  padding: 16px 12px;
}

.standardTooltip {
  background-color: #0F1013;
}

.list {
  display: flex;
  flex-direction: column;
}